[run]
branch = True

[report]
omit = api/utils/db_utils.py,api/users/user.py,*repository.py
include = api/*.py
precision = 2
sort = Cover

[html]
directory = test_output/coverage

[xml]
output = test_output/coverage.xml

[paths]
source = api/
